# Configurações do Servidor
PORT=3000
NODE_ENV=development

# Configurações do Banco de Dados MySQL
DB_HOST=localhost
DB_PORT=3306
DB_NAME=educakids
DB_USER=root
DB_PASSWORD=root

# JWT Secret
JWT_SECRET=939227097tina
JWT_EXPIRES_IN=7d

# OTP (Simulação para desenvolvimento)
OTP_EXPIRES_IN=5

# Upload de Imagens
MAX_FILE_SIZE=5242880

